body{
    background-color: rgb(27,1,27);
    
}

@font-face {
    font-family: ;
    src: url(Lovelyn.ttf);
  }

#mouse{
  height: 10%;
}

.parent1{
    background-color: rgb(27,1,27);
    transform: skewY(-5deg);
    color: white;

}
.parent2{
    background-color:lightpink;
    transform: skewY(-5deg);
    color: black;
}

.parent3{
    background-color: cadetblue;
    transform: skewY(-5deg);
    color: white;
}

.parent4{
    background-color: lightsteelblue;
    transform: skewY(-5deg);
    color: black;
}
.parent5{
    background-color: lightgreen;
    transform: skewY(-5deg);
    color: white;
}
.parent6{
    background-color: lightyellow;
    transform: skewY(-5deg);
    color: black;
}
.parent7{
    background-color: rgb(74, 0, 109);
    transform: skewY(-5deg);
    color: white;

}
.parent8{
    background-color: rgb(74, 0, 109);
    transform: skewY(-5deg);
    color: white;

}
.parent9{
    background-color:rgb(245, 160, 121);
    transform: skewY(-5deg);
    color: white;

}
.sized{
    font-size: 12rem;
}
.container{
    font-family:myFirstFont;
    padding: 10%;   
    transform: skewY(+5deg);
    margin-left:2%;
    margin-right: 2%;
    border-left: white dashed 2px;
    border-right: white dashed 2px;
}
.container1{
    margin-top: 5%;
    text-align: center;
    border-top: white dashed 2px;  
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
}
.container2{
    padding-left: 25%;
    padding-right: 25%;
    
}
p{
    font-size: large;
}
.sizedown{
    font-size: 1.5rem;
}


.foot{
    padding:3%;
    font-size:1.5rem;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.container3{
    background-color: rgb(194, 188, 188);
    clip-path: polygon(0 22%, 100% 0%, 100% 100%, 0 100%);
    padding:10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 350px; 
}

.logo{
    margin-top:2%;
    align-content: center;
    height:5%;
    width: 20%;
}

.bottom{
    margin-top:2%;
    margin-bottom: 2%;
    height:15%;
    width: 50%;
    text-align: center;
    margin-left:8%;
}




.l1{
    float:left;
    font-style: inherit;
}
.l2{
    float:right;
}







